#main div
{
    width: 8px;
    height: 8px;
    position: absolute;
	border: solid 1px DarkGray ;
}

#main div.die
{
    background: gray;
}

#main div.alive
{
    background: green;
}

#main {
    position: relative;
    left: 0;
    top: 0;
}